body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee1e1;
  transition: background 0.4s ease,color 0.4s ease;
}

.box {
  position: relative;
  width: 350px;
  height: 350px;
  background:rgba(0,0,0,0.7);
  backdrop-filter:blur(10px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  transition:transform 0.4s ease;
}

.box:hover{
  transform:translateY(-8px);
}

.box2 {
  position: absolute;
  top: -75px;
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:0.3s;
}

.box2:hover{
  transform:scale(1.1);
  transition:0.3s;
}

.name {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.social{
  display:flex;
  gap:12px;
  margin-top:50px;
}

.social-btn{
  text-decoration: none;
  padding: 8px 14px;
  font-size:12px;
  background:white;
  color:black;
  border-radius:20px;
  font-weight:600;
  transition:0.3s;
  font-family: 'Montserrat', sans-serif;
}

.social-btn:hover{
  background:#ccc;
  transform:translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

#themeToggle {
  position: fixed;   /* absolute değil! */
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background: white;
  transition: 0.3s;
  z-index: 1000;     /* üste çıksın */
}

.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .box {
  background: #1e1e1e;
}

@media (max-width: 500px) {
  .box {
    width: 90%;
    height: auto;
    padding-bottom: 40px;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.skills span {
  background: white;
  color: black;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
}

.skills span:hover {
  background: black;
  color: white;
  transform: translateY(-3px);
}